@import "navigation.css";
@import "home.css";


@font-face {
  font-family: "Argentum";
  src: local("Argentum"),
       url("../fonts/ArgentumSans-Regular.ttf") format('truetype');
  font-style: normal;
}

@font-face {
  font-family: "Argentum";
  src: local("Argentum"),
       url("../fonts/ArgentumSans-Light.ttf") format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: "Argentum";
  src: local("Argentum"),
       url("../fonts/ArgentumSans-SemiBold.ttf") format('truetype');
  font-weight: 700;
}

/* color palette from <https://github.com/vuejs/theme> */
:root {
  font-size: 24px;
  scroll-behavior: smooth;
  /*========Colors========*/
  --hue-color: 254;
  --alt-hue-color: 0;
  /*===Black===*/
  --font-color: hsl(var(--hue-color), 3%, 23%);
  --font-color-alt: hsl(var(--hue-color), 7%, 14%);
  /*===Light===*/
  --second-color: hsl(42, 48%, 90%);
  --alt-second-color: hsl(42, 10%, 80%);

  /*===main color===*/
  --main-color: hsl(var(--hue-color), 78%, 91%);
  --main-color-hover: hsl(var(--hue-color), 43%, 61%);
  --main-color-dark: hsl(var(--hue-color), 28%, 37%);

  --body-color: var(--light-color);

  /*===Other Color ===*/

  --red: hsl(359, 100%, 65%);
  --green: hsl(145, 63%, 49%);

  /*========Fonts========*/
  --body-font: "Argentum", sans-serif;
  --header-section-font: 4.5rem;
  --big-font-size: 2.5rem;
  --title-card-font: 1.5rem;
  --text-font: 1rem;
  --smallest-font: 0.85rem;
  --text-line-height: 1.5;

  /*========Fonts WEIGHT========*/
  --font-light: 300;
  --font-medium: 500;
  --font-semi-bold: 700;

  /*========Marge========*/

  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;

  /*========z-index========*/
  --z-tooltip: 10;
  --z-fixed: 100;

  /*========border radius========*/
  --radius: 15px

}

body[data-theme = dark] {

  /*===Black===*/
  --font-color: hsl(42, 56%, 96%);
  --font-color-alt: hsl(42, 10%, 80%);
  /*===Fonts===*/
  --second-color: hsl(var(--hue-color), 4%, 4%);
  --alt-second-color: hsl(var(--hue-color), 4%, 8%);
}

body {
  min-height: 100vh;
  color: var(--font-color);
  background: var(--second-color);
  transition: color 0.5s, background-color 0.5s;
  line-height: var(--text-line-height);
  font-family: var(--body-font);
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/*=================Base CSS=================*/

.light-font {
  color: var(--second-color);
}

.light-weight {
  font-weight: 300;
}

#app {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: min(150px, 15vh) auto;
  gap: 30px;
  grid-template-areas: ". nav nav nav nav nav nav nav ."
                       ". main main main main main main main .";
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
  align-items: center;
}

main {
  grid-area: main;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

h1,h2,h3 {
  font-weight: var(--font-semi-bold);
}

h1 {
  font-size: var(--title-card-font);
}

h2 {
  font-size: var(--header-section-font);
}

p,a {
  font-size: 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  outline: none;
  background: none;
}

button {
  cursor: pointer;
}
