.herobanner {
    height: calc(100vh - min(150px, 15vh) - 30px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p.big {
    width: min(100%, 500px);
}


.scrollMore {
    width: fit-content;
    align-self: center;
    margin-bottom: var(--mb-1);
}

.play3d {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: var(--big-font-size);
    padding: var(--mb-1);
    border-radius: var(--radius);
    background: var(--main-color);
    color: var(--font-color) !important;

    margin-top: var(--mb-1);
    width: min(100%, 500px);
}

.play3d span {
    margin-left: var(--mb-1-5);
}