
/*ABOUt*/

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 50px;
}

.wrapper.left {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.wrapper.right {
    width: 45%;
    
}


.relative-img{
    position: relative;
    width: auto;
    height: 70vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.img {
    position: absolute;
    display: flex;
}

.img.un {
    background-color: var(--main-color);
    z-index: 4;
}

.img.un img {
    width: 500px;
    height: 650px;
    object-fit: cover;
    
}

.img.deux {
    background-color: var(--main-color-dark);
    z-index: 3;
}

.img.deux img {
    width: 550px;
    height: 600px;
    object-fit: cover;
    opacity: 0;
}

.img.trois {
    background-color: var(--main-color);
    z-index: 2;
    width: 100%;
}

.img.trois img {
    width: 620px;
    height: 550px;
    object-fit: cover;
    opacity: 0;
}

.img.quatre {
    background-color: var(--main-color-hover);
    z-index: 1;
}

.img.quatre img {
    width: 440px;
    height: 710px;
    object-fit: cover;
    opacity: 0;
}



.pagination {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.pagination ul, .pagination_number {
    display: flex;
}


.pagination ul li button{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: var(--font-color) 1px solid;
    display: grid;
    place-items: center;
    font-size: 1rem;
    margin: 0 10px ;
    transition: all 0.1s ease-in-out;
}

.pagination ul li button:is(.prev, .next) {
    width: 70px;
}

.pagination ul li button:is(.active) {
    background-color: var(--main-color-dark);
}

.pagination ul li button:hover:not(.prev,.next) {
    background-color: var(--main-color-hover);
    transform: scale(1.2);
    border: none;
    color: var(--second-color);
}

.pagination ul li button:hover:is(.prev,.next) {
    transform-origin: right;
    border-radius: 10px;
    background-color: var(--main-color-hover);
    transform: scaleX(1.2);
    border: none;
    color: var(--second-color);
}

.pagination ul li button:hover:is(.prev) {
    transform-origin: right;
    -ms-transform-origin: right;
    -o-transform-origin: right;
}

.pagination ul li button:hover:is(.next) {
    transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
}




#no01.boxes-wrapper .boxes, #no02.boxes-wrapper .boxes, #no03.boxes-wrapper .boxes {
    display: flex;
}

.creative {
    position: relative;
}
.relative {
    position: relative;
    height: calc(5 * var(--header-section-font)) ;
}
.creative .abso {
    position: absolute;
    top: 0;
    left: calc(-100vh / 9 - 30px*7);
    width: 100%;
    height: auto;
}

.boxes-wrapper, .boxes {
    position: relative;
    display:flex; 
    align-items:center;
}

.boxes {
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    will-change: transform;
}

.box {
    padding: 0;
    display: inline-block;
    margin-right: 1.5rem;
    font-size: var(--header-section-font);
}

.box.crea {
    color: var(--main-color-dark);
}

.box.dev {
    color: transparent;
    /* Prefix required. Even Firefox only supports the -webkit- prefix */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--font-color);
  }
