.nav__wrapper {
    z-index: var(--z-fixed);
    position: relative;
    height: 150px;
}

.test {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 calc(100vw / 9);
    height: 150px;
    width: 100%;

    overflow: hidden;
    transition: height ease .6s, background-color ease .1s 0.5s;
}
.navButton {
    transition: transform ease 0.3s;
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
}
.navButton a{
    display: grid;
    place-items: center;
}
.navButton:hover {
    transform: scale(1.1);
}

.logo {
    display: grid;
    place-items: center;
}

  
.button__wrapper {
    height: 150px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.button__wrapper-hidden {
    gap: 50px;
    height: 150px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.button__wrapper > ul {
    display: flex;
    align-items: center;
  }

.navigation > li {
    margin-right: var(--mb-1-5);
    margin-left: var(--mb-1-5);
    display: grid;
    place-items: center;
    height: 90px;
    width: 90px;
}

.links__wrapper {
    background-color: var(--second-color);
    width: 100%;
    height: 0;
}
.link__wrapper {
    width: max-content;
}


.test.active {
    height: 100vh;
    background-color: var(--second-color);
    transition: all ease .6s;
}

.links__wrapper.active {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    height: inherit;

    pointer-events:all !important;

}

.links__wrapper.active h4{
    display: flex;
    width: inherit;
    justify-content: flex-end;

}


.link {
    position: relative;
    font-size: var(--title-card-font);
}

.link::after {
    position: absolute;
    bottom: -5px;
    left: 0;
    content: '';

    height: 8px;
    width: 0;
    background-color: var(--main-color);
    transition: width 0.4s ease;

}

.link:hover::after {
    width: 100%;
}

.nav-ul__wrapper {
    display: flex;
    flex-direction: column;
}
